/* Header and Navigation Bar style*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.5rem;
  background-color: #003748;
  border-bottom: 10px solid #000000; /* Black horizontal line */
}


.logo img {
  max-height: 120px;
  width: auto;
  height: auto;
}


nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  font-size: 1rem;
  color: #FF8351;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
   text-decoration: underline;
}
/* Wrapper for nav + button */
.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  gap: 2rem;
}

/* Nav bar styling */
nav {
  display: flex;
  gap: 8rem;
}

/* Nav links */
nav a {
  font-size: 2rem;
  color: #FF8351;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
S

/* Page container and layout*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.section {
  margin-bottom: 2rem;
}

/* sisde-by-side Layouts*/
flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
/*Footer styling*/
footer {
  background-color: #FF8351;
  color: #FFFFFF;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/*signup box*/
.form-wrapper {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 2rem auto;
}






