* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


.Navhead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: #003748;
  border-bottom: 1px solid #e5e7eb;
}
.Navhead img{
    max-height: 150px;
    max-width: 150px;
    border: 5px solid #1C6EA4;
}
.Navhead a{
      font-size: 1rem;
  color: #FF8351;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #1C6EA4;
}
.Navhead a:hover{
  text-decoration: underline;
}
.Navhead h1{
    color:#FF8351;
    border: 2px solid #1C6EA4;
}

.Content {
    margin-top: 20px;
    /* key bits: */
    overflow-x: auto;
    max-width: 100%;

}


.Buttons {
    display: flex;
      justify-content: Center;
  align-items: center;
    gap: 10px;
    border: 2px solid #1C6EA4;
}
.Buttons button{
     padding: 10px 18px;
     background: transparent;
     border: 2px solid #333;
     cursor: pointer;
     transition: 0.2s ease;
}

.Buttons button:hover {
    background: #333;
    color: #fff;
}